/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: Roboto;
}

.img-introduction {
  padding-bottom: 20px;
}

hr {
  color: red;
}

span {
  color: red;
}

header {
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  font-weight: bold;
  padding-bottom: 20px;
}
